#for loop

1)print odd value between 20 and 80, without using if. Using for loop only

In [6]:
for i in range (21,80,2):
    
    print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

2) creat a list of 1 to 20 number using for loop [1,2,3..20]

In [8]:
num=[]
for i in range(1,21):
    num.append(i)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

3)create a  list of 20 to 1 value using  for loop (dont Use Reverse)

In [14]:

num=[]
for i in range(20,0,-1):
    num.append(i)
print(num)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4)take Cube of odd values between 20 to 40

In [19]:
for i in range(21,40,2):
    print(i*i*i)

9261
12167
15625
19683
24389
29791
35937
42875
50653
59319

#5) take 5 freinds name in list name
take corresponding ages in second list age

In [27]:
name=["a","b","c","d","e"]
age = [20,21,23,25,24]
print(f"my name is {name[0]} and age is{age[0]}"  )
print(f"my name is {name[1]} and age is{age[1]}"  )
print(f"my name is {name[2]} and age is{age[2]}"  )
print(f"my name is {name[3]} and age is{age[3]}"  )
print(f"my name is {name[4]} and age is{age[4]}"  )

my name is a and age is20
my name is b and age is21
my name is c and age is23
my name is d and age is25
my name is e and age is24