#Given a list, write a Python code  to swap first and last element of the list.

In [3]:
num=[1,2,3,4,5,6,7,8]
print(num)
num[0],num[-1]=num[-1],num[0]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8]
[8, 2, 3, 4, 5, 6, 7, 1]

write code count lenght of string

In [9]:
name="monty"

w=[1,2,3,4,6,7,8,0]
print(len(w))
print(len(name))

8
5

#Write a Python program to get the sum of a only non-negative integer. ex, [1,4,-5,-20,10] ans is 15

In [53]:
num=[1,4,-5,-20,10]
val=0

for i in num:
    if i>=0:
        val += i
print(val)

15

#write code of factorial , ex.ans 6 (3*2*1)

In [75]:
n=3
res=1
for i in range(1,n+1):
    res *=i
print(res)

6